body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007b5e;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.imagen{
    max-width: 100%;
    height: auto;
    max-height: 300px; 
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #007b5e;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007b5e;
}

ul, ol {
    margin-left: 20px;
}

ul li, ol li {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}
